<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>News and Events</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	 <!-- Include external CSS. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="style.css">
	
</head>
<body>
<div class="container">
	<h1>News and Events</h1>
	<nav class="nav nav-tabs">
	    <a class="nav-link active" href="/">Blog / Events</a>
	    <a class="nav-link" href="/newsFeed">News</a>
	    <a class="nav-link" href="/composer">Blog Composer</a>
	</nav>
	
	<!-- Render all blog components - newest first -->
	<%for(let i = blogs.length-1; i >= 0; i--){%>
		<div class="card">
			<div class="card-header"><%=blogs[i].date%></div>
			<div class="card-body"><%-blogs[i].content%></div>
			<div class="card-footer">
				<button class="btn btn-primary btn-share"><i class="fa fa-twitter" aria-hidden="true"></i> Tweet</button>
				<button class="btn btn-primary btn-share"><i class="fa fa-facebook" aria-hidden="true"></i> Like</button>
				<button class="btn btn-primary btn-share"><i class="fa fa-reddit" aria-hidden="true"></i> Share</button>
			</div>
		</div>
	<%}%>
</div>
</body>
</html>