.logo {
  width: 100%;
  padding: 10% 5% 10% 5%;
}

.socialLinks {
  display: flex;
  font-size: 24px;
  justify-content: space-around;
  padding-top: 5%;
}

//////

hr {
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #FFFFFF;
}
#documenter_sidebar{
height: calc(200vh);
position: fixed;
width:15%;

}

#documenter_sidebar, #documenter_sidebar ul a {
  background-color: #DDDDDD;
  color: #222222;
}

#documenter_sidebar ul {
  border-top: 1px solid #AAAAAA;
}

#documenter_sidebar ul a {
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #AAAAAA;
  color: #444444;
}

#documenter_sidebar ul a:hover {
  background: #444444;
  color: #DDDDDD;
  border-top: 1px solid #444444;
}

/*needs to be fixed below*/

#documenter_sidebar ul a.current {
  background: #444444;
  color: #DDDDDD;
  border-top: 1px solid #444444;
}
/* below */


#member_sidebar{
height: calc(100vh);
position: fixed;
width:15%;

}

#member_sidebar, #member_sidebar ul a {
  background-color: #00A7E1;
  color: #222222;
}

#member_sidebar ul {
  border-top: 1px solid #AAAAAA;
}

#member_sidebar ul a {
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #AAAAAA;
  color: #444444;
}

#member_sidebar ul a:hover {
  background: #444444;
  color: #DDDDDD;
  border-top: 1px solid #444444;
}


#member_sidebar ul a.current {
  background: #444444;
  color: #DDDDDD;
  border-top: 1px solid #444444;
}
.title {
  text-align: center;
}

.titlelogo{
  width: 50%;
}

.sign-form {
  width: 50%;
  align-self: center;
  display: block;
  margin: auto;

}
.button-sign-form{
  text-align: center;

}


.signup-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.signup-container Input{
  width: 150%;
}


.error{
  color: darkred;
}

.accountTitle{
  display: flex;
  justify-content: space-between;
}
.accountTitle Button{
  height: 50%;
}
