.navbar-default .navbar-brand {
    height: 70px;
    margin: 5px;
}
.navbar-default .navbar-brand img {
    max-height: 100%;
}
.banner {
    margin-top: 80px;
}
.text-border {
    margin-top: 70px;
}
.footer {
    padding: 0 0 20px;
}
.screen {
    margin-top: 220px;
    min-height: calc(100vh - 220px)
}