<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chat</title>

	<!--Vendor Scripts-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script
	src="https://code.jquery.com/jquery-3.2.1.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">


	<!--Stylesheet-->
	<link rel="stylesheet" type="text/css" href="chat.css">

	<!--App Scripts-->
	<script rel="stylesheet" type="text/javascript" src="chat.js"></script>
</head>
<body>
	<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading" id="accordion">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                  <tr>
                                    <!-- <th>Image</th> -->
                                    <th>NAME</th>
                                    <th>EMAIL</th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <!-- <td>{{pull image here}}</td> -->
                                    <td class="info" id="name">{{name}}</td>
                                    <td class="info" id="email">{{email}}</td>
                                    <td><button class="btn">Send</button></td>
                                  </tr>
                                </tbody>
                        </table>
                        
                    </div>
                    <a type="button" class= "btn" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">New Message
                    </a>
            <div class="panel-collapse collapse" id="collapseOne">
                <div class="panel-body">
                    <ul class="chat">
                        <li class="left clearfix"><span class="chat-img pull-left">
                            <img src="http://style.anu.edu.au/_anu/4/images/placeholders/person_8x10.png" alt="User Avatar" class="avatar" />
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">John Smith</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                                </div>
                                <p>
                                    Vape woke truffaut keffiyeh, celiac tumblr authentic readymade kickstarter bitters.
                                </p>
                            </div>
                        </li>
                        <li class="right clearfix"><span class="chat-img pull-right">
                            <img src="http://style.anu.edu.au/_anu/4/images/placeholders/person_8x10.png" alt="User Avatar" class="avatar" />
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted">        
                                        <strong class="pull-right primary-font">Sally Smith</strong>
                                </div>
                                <p>
                                    +1 pork belly vegan air plant copper mug selfies heirloom chartreuse, austin food truck kogi mustache fashion axe tacos.
                                </p>
                            </div>
                        </li>
                        <li class="left clearfix"><span class="chat-img pull-left">
                            <img src="http://style.anu.edu.au/_anu/4/images/placeholders/person_8x10.png" alt="User Avatar" class="avatar" />
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Sally Smith</strong> <small class="pull-right text-muted">
                                </div>
                                <p>
                                   Direct trade poke yr bespoke ennui forage kinfolk. Lo-fi kale chips selvage, scenester air plant hell of jianbing celiac sartorial vape cloud bread twee four loko pork belly paleo. 
                                </p>
                            </div>
                        </li>
                        <li class="right clearfix"><span class="chat-img pull-right">
                            <img src="http://style.anu.edu.au/_anu/4/images/placeholders/person_8x10.png" alt="User Avatar" class="avatar" />
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted">
                                    <strong class="pull-right primary-font">John Smith</strong>
                                </div>
                                <p>
                                    Portland iPhone seitan, viral fingerstache fixie bicycle rights snackwave chartreuse godard. Man bun synth meh aesthetic. 
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Please type your message" />
                        <span class="input-group-btn">
                            <button class="btn btn-sm" id="btn-chat">
                                Send</button>
                        </span>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>	
</body>
</html>