.logo {
  width: 100%;
  padding: 10%;
}

.socialLinks {
  display: flex;
  font-size: 24px;
  justify-content: space-around;
}

//////

hr {
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #FFFFFF;
}
#documenter_sidebar{
height: calc(100vh);
position: absolute;

}

#documenter_sidebar, #documenter_sidebar ul a {
  background-color: #DDDDDD;
  color: #222222;
}

#documenter_sidebar ul {
  border-top: 1px solid #AAAAAA;
}

#documenter_sidebar ul a {
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #AAAAAA;
  color: #444444;
}

#documenter_sidebar ul a:hover {
  background: #444444;
  color: #DDDDDD;
  border-top: 1px solid #444444;
}

/*needs to be fixed below*/

#documenter_sidebar ul a.current {
  background: #444444;
  color: #DDDDDD;
  border-top: 1px solid #444444;
}
